<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
 
    <!-- main header -->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">

                        <figure>
                            <img src="images/Diptanshu's img.jpeg" alt="diptanshu" class="img-fluid" title="diptanshu">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Hello!👋 ....@Diptanshu</p>
                        <h1>I am A <span class="text_head">MERN stack Developer</span> from India</h1>
                        <a href="https://www.diptanshug.github.io"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footter? -->

 {{>footer}}

</body>

</html>